/.Makefile.rocq.d
/.lake
/.lia.cache
/Makefile.rocq
/Makefile.rocq.conf
/_RocqProjectFull
/proofs_rocq/**/*.aux
/proofs_rocq/**/*.glob
/proofs_rocq/**/*.vo
/proofs_rocq/**/*.vok
/proofs_rocq/**/*.vos
